开发一个Qt5+FFmpeg8的win平台64位GUI程序，其主要功能与特性如下：

1 录屏部分使用了包括AVFilterContext、AVFilter、 avfilter_graph_create_filter等来获得屏幕的BGRA数据，录制后不转成YUV格式，立即无损压缩并封装；
2 录制时只录制主屏幕，且从屏幕坐标原点开始，只录制800x600大小的范围，固定帧率20；
3 播放部分使用ffmpeg解码，然后使用qtopengl接口将数据处理后上传到GPU；
4 程序启动后指定exe文件所在目录设置为工作目录，将工作目录中的workdir文件夹作为存储录制的视频文件以及要播放的视频文件的目录；
5 视频文件名是文件被创建时的 年月日时分秒毫秒，封装格式根据上面无损压缩选择的编译器所适配的封装格式确定；
6 GUI界面的录制视频部分提供开始录制和停止录制的控件、显示已录制时间的控件和显示正在录制的文件的文件名的控件；
7 GUI界面的播放视频部分的提供了开始、暂停与恢复、停止等按钮，以及浏览workdir文件夹所有视频文件的下拉列表，不需要拖动播放滑块的功能；
8 录制部分使用一个线程，截屏、无损压缩、封装串行执行；
9 播放部分使用一个线程，读取、解码、处理与渲染等串行执行;
10 同一时间，只能进行录制或者播放其中一个任务；
11 主窗口内的panel组件有两个标签，一个是录制，一个是播放;
12 没有音频功能，只支持视频功能；
13 没有提到的界面控件要求和程序功能或者特性全都不要。

注意，使用ffmpeg8最新的API，禁用废弃的或者被标记为即将弃用的API或者数据结构
注意, Qt5路径是X:\Qt\5.15.13\gcc12
注意，ffmpeg8路径是D:\Program\ffmpeg
注意，mingw路径是D:\Program\mingw64_gcc12
注意，为当前工作区设置cpp配置文件和settings.json文件